{% extends "base.html" %} <!--this means that you are extending the base tempate -->
{% block index %} <!-- this is the name of the block below -->
<div class="row" style="height:100vh;">
	<div class="col-md-10 col-md-offset-1 text-center" style="font-size:100px; padding-top:5vh">
		<h1 style="font-weight:600">Hawkeye</h1>
		<img src="static/img/hawkeye.png" alt="Hawkeye" style="width:600px;height:600px;">
		<h3 style="font-weight:300; line-height:32px">Performance monitoring for Data Centers</h3>
	</div>
</div>
{% endblock %} 