{% extends "base.html" %} <!--this means that you are extending the base tempate -->
{% block monitors %} <!-- this is the name of the block below -->

<link href="https://cdn.datatables.net/1.10.10/css/jquery.dataTables.min.css" rel="stylesheet">

<div class="row tab" style=""> <br>
	<input type="button" onclick="start_monitors_update()" value="Start"/>
	<input type="button" onclick="stop_monitors_update()" value="Stop"/>	
	<table id="monitors" class="display" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>Monitor</th>
				<th>Throughput</th>
				<th>Min</th>
				<th>0%-5% (-2&sigma;+)</th>
				<th>5%-16% (-&sigma;+)</th>
				<th>84%-95% (&sigma;+)</th>
				<th>95%-100% (2&sigma;+)</th>
				<th>Max</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th>Monitor</th>
				<th>Throughput</th>
				<th>Min</th>
				<th>0%-5% (-2&sigma;+)</th>
				<th>5%-16% (-&sigma;+)</th>
				<th>84%-95% (&sigma;+)</th>
				<th>95%-100% (2&sigma;+)</th>
				<th>Max</th>
				</tr>
		</tfoot>
	</table>
</div>
<hr>
<div class="row tab" style="">
	<input type="button" onclick="start_alerts_update()" value="Start"/>
	<input type="button" onclick="stop_alerts_update()" value="Stop"/>	
	Show alerts in last <input type="text" value="10"/>	seconds
	<table id="alerts" class="display" cellspacing="0" width="100%">
		<thead>
			<tr>
				<th>Alert</th>
				<th>Time</th>
				<th>Throughput</th>
				<th>Min</th>
				<th>0%-5% (-2&sigma;+)</th>
				<th>5%-16% (-&sigma;+)</th>
				<th>84%-95% (&sigma;+)</th>
				<th>95%-100% (2&sigma;+)</th>
				<th>Max</th>
			</tr>
		</thead>
		<tfoot>
			<tr>
				<th>Alert</th>
				<th>Time</th>
				<th>Throughput</th>
				<th>Min</th>
				<th>0%-5% (-2&sigma;+)</th>
				<th>5%-16% (-&sigma;+)</th>
				<th>84%-95% (&sigma;+)</th>
				<th>95%-100% (2&sigma;+)</th>
				<th>Max</th>
				</tr>
		</tfoot>
	</table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://cdn.datatables.net/1.10.10/js/jquery.dataTables.min.js"></script>
<script type="text/javascript">
	var monitorsTable = $('#monitors').DataTable({
		'fnCreatedRow' : function (nRow, aData, iDataIndex) {
			var mon_id = 'MONITOR_' + aData[0];
			//console.log("Row:" + mon_id);
			$(nRow).attr('id', mon_id);
		}
	});
	
	var monUpdateTimer = '';
	
	function start_monitors_update() {
		monUpdateTimer = setInterval("update_monitors()",1000);
	}

	function update_monitors() { 
		$.ajax({
			type: "GET",
			url: "/api/stream/monitors/",
			data: "=success",
			success: function(msg) {
				var monLen = msg.monitors.length;
				//console.log(monLen)
				for (var i = 0; i < monLen; i++) {
					var mon = msg.monitors[i];
					var nowValue = msg.monitors[i].nowValue;
					//console.log('nowValue=' + nowValue)
					if (nowValue) {
						mon = eval("(" + nowValue + ")");
						//console.log('mon post stringfy:' + mon)
						//console.log('mon.monitor=' + mon.monitor)
						var mon_id = '#MONITOR_' + mon.monitor;
						var mon_row = monitorsTable.row(mon_id)
						
						mon.through = Math.round(mon.through)
						mon.min		= Math.round(mon.min)
						mon.sig2neg	= Math.round(mon.sig2neg)
						mon.sig1neg	= Math.round(mon.sig1neg)
						mon.sig1pos	= Math.round(mon.sig1pos)
						mon.sig2pos	= Math.round(mon.sig2pos)
						mon.max		= Math.round(mon.max)
						
						if (mon_row.any()) {
							//console.log("Found Row:" + mon_id);
							mon_row.data([mon.monitor, mon.through, mon.min, 
								mon.sig2neg, mon.sig1neg, mon.sig1pos, 
								mon.sig2pos, mon.max])
						} else {
							//console.log("Adding Row:" + mon_id);
							monitorsTable.row.add([mon.monitor, mon.through, mon.min, 
								mon.sig2neg, mon.sig1neg, mon.sig1pos, 
								mon.sig2pos, mon.max])
						}
					}
				}
				monitorsTable.draw( false );
			}
		});
	}
	
	function stop_monitors_update() {
		clearInterval(monUpdateTimer);
	}	
	
	///////////////////////////
	///////////////////////////
	///////////////////////////
	
	var alertsTable = $('#alerts').DataTable({
		'fnCreatedRow' : function (nRow, aData, iDataIndex) {
			var alert_time_ms = new Date(aData[1]).getTime()
			var alert_id = 'ALERT_' + aData[0] + alert_time_ms;
			console.log("Row:" + alert_id);
			$(nRow).attr('id', alert_id);
		}
	});
	
	var alertUpdateTimer = '';
	function start_alerts_update() {
		alertUpdateTimer = setInterval("update_alerts()",10000);
	}
	var lastAlertsFetched = 0;
	
	
	function update_alerts() { 
		$.ajax({
			type: "GET",
			url: "/api/stream/alerts/",
			data: "=success",
			success: function(msg) {
				var alertsLen = msg.alerts.length;
				console.log(msg)
				for (var i = 0; i < alertsLen; i++) {
					var alert = msg.alerts[i];
					console.log(alert)
					var alert_time_ms = new Date(alert.alert_time_ms).getTime();
					var alert_id = '#ALERT_' + alert.monitor + alert_time_ms;
					var alert_row = alertsTable.row(alert_id)
					
					alert.alert_through		= Math.round(alert.alert_through)
					alert.min_through		= Math.round(alert.min_through)
					alert.sigma2neg_through	= Math.round(alert.sigma2neg_through)
					alert.sigma1neg_through	= Math.round(alert.sigma1neg_through)
					alert.sigma1pos_through	= Math.round(alert.sigma1pos_through)
					alert.sigma2pos_through	= Math.round(alert.sigma2pos_through)
					alert.max_through		= Math.round(alert.max_through)
							
					if (alert_row.any()) {
						//console.log("Found Row:" + mon_id);
						//alert_row.data([
						//	alert.monitor, alert.alert_time_ms, alert.alert_through, alert.min_through,
						//	alert.sigma2neg_through, alert.sigma1neg_through, alert.sigma1pos_through, 
						//	alert.sigma2pos_through, alert.max_through
						//])
					} else {
						//console.log("Adding Row:" + mon_id);
						alertsTable.row.add([
							alert.monitor, alert.alert_time_ms, alert.alert_through, alert.min_through,
							alert.sigma2neg_through, alert.sigma1neg_through, alert.sigma1pos_through, 
							alert.sigma2pos_through, alert.max_through
						]);
					}
				}
				alertsTable.draw( false );
			}
		});
	}
	
	function stop_alerts_update() {
		clearInterval(alertUpdateTimer);
	}	
	
	$(document).ready(function() {
		start_monitors_update();
		start_alerts_update();
	});
</script> 
{% endblock %} 